<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<?xml version="1.0" encoding="UTF-8"?>
<suite name="Sample Suite" verbose="1" >

  <test name="Unit Level Test" >
  <classes>
		<class name="box.ConcateTest">
		</class>
	</classes>
  </test>
<!--  </suite> -->

<!--  origional suit name here  -->

	<test name="FireFox Test">
		<parameters>
			<parameter name="platform" value="Windows" />
			<parameter name="browser" value="firefox" />
			<parameter name="version" value="34.0" />
			<parameter name="url" value="http://www.expedia.com" />
		</parameters>
			<classes>
				<class name="tutorialselenium.SeleniumGrid_ParallelTestFramework">
				</class>
			</classes>
	</test>
	<test name="Chrome Test">
		<parameters>
			<parameter name="platform" value="Windows" />
			<parameter name="browser" value="internet explorer" />
			<parameter name="version" value="10" />
			<parameter name="url" value="http://www.expedia.com" />
		</parameters>
			<classes>
				<class name="tutorialselenium.SeleniumGrid_ParallelTestFramework">
				</class>
			</classes>
	</test>
</suite>